Repository jdanks-army/jdanks.armyd, pull requests merged in 2021-01, with the labels that each got.

#15 Added Trovo support
  README.md
  index.js
  package-lock.json
  package.json
Labels: new streaming platform

#11 added baggygreen (kate)
  people.json
Labels: people list change

#16 removed lookner and agendafreetv
  people.json
Labels: people list change

#18 Added Twitch support
  README.md
  index.js
Labels: enhancement, new streaming platform

#17 added e7
  people.json
Labels: people list change

#19 Add SSL support
  README.md
  index.js
  people.json
  scrapers.js
  scrapers/bitwave.js
  scrapers/dlive.js
  scrapers/robotstreamer.js
  scrapers/trovo.js
  scrapers/twitch.js
  scrapers/youtube.js
Labels: enhancement
